*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Encabezado{
    display: flex;
    background-color:#FFF;
    justify-content: space-between;
    overflow: hidden;
}
.img-icon{
    width: 60px;
}
.Buscador{
}
.Buscador-input{
    margin:10px 0 0 0;
    outline: #0d6efd;
    width: 150px;
    text-align: center;
    background-color: transparent;
    border: transparent;
}
.Buscador-input :hover{
    border: #000 1px solid;
}

.nav{
    display: flex;
    background-color:#fff;
    justify-content: center;
  
}
.nav a{
    color: #000;
}

.hero{
    justify-content: space-between;
    display: flex;
    height: 50vh;
    align-items: center;
    background-color:#fff;
   }
.img-grand-autos{
  align-self: center;
  align-content: space-between;
}
.Grand{
    width: 400px;
    margin: 0 0 0 10px;
}
.Parrafo{
    margin: 30px 25px;
}
.God{
    width: 600px;
    margin: 0 0 0 10px;
    align-self: center;

}
.Titulo-hero{
    margin: auto 0 auto 160px;
    align-content: center;
    align-self: center;
    
}
.Titulo-hero h2{
color: #000;
}
.Subtitulo{
font-size: 20px;
margin: 0 33px;

}
.Subtitulo a{
    text-decoration: none;
    color: #000;
}
.Texto-hero{
    text-align: center;
}
.Top-a{
text-decoration: none;   
color: #fff; 
font-size: 30px;
margin: 20px 0 0 55px;

}
.Top-a:hover{
    color: #0d6efd;
}
.Top{
    display: flex;
    background-color: #000;

}
.img-gaming{
  align-items: center;
}
.card{
    width: 450px;
    height: 450px;
    margin: 50px auto;
    border-radius: 10px;
    margin-top:40px;

}
.Texto-card{
    border-top: 1px solid #000;
    text-align: center;
    padding: 5px;
    font-size: 20px;

}
.card-game{
    background-color:#000;
    display: flex;
    flex-wrap: wrap;
}

.img-card{
    object-fit: cover;
    margin: auto;
    width: 200px;
    height: 200px;
}
.card a{
    color: #fff;
    background-color: #00f;
    padding: 1rem 0;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 20px auto;
    width: 200px;
    border-radius: 50px;

}
.Titulo{
    text-align: center;
}
.Subtitulo a:hover{
  color:#0d6efd;
}
@media (max-width:700px){
    .dropdown-item{
    }
    .card{
        width: 400px;
        height: 400px;
        margin: auto;
    }
    .img-gaming{
        margin: auto;
    }

}
@media (max-width:420x){
    .card{
        width: 400px;
        height: 400px;  
           margin: 20px 0 0 0;  }
         
}
@media (max-width:983px){
    .card{
        width: 400px;
        height: 400px;  
        margin: 50px auto;
           
    }
    .img-gaming{
        margin: auto;
    }
}
@media (max-width:1440px){
    .card{
        margin: 50px auto;
        width:450px;
        height: 450px;
        
    }
    
}
@media(max-width:290px){
    .Texto-card{
        font-size: 2px;
    }
    .card a{
        width: 100px;
    }
}
@media (max-width:1338px){
    .Titulo-hero{
        margin: auto
    }
    .Subtitulo a{
     font-size: 15px;
    }
    .God{
        width: 300px;
    }
    .Grand{
        width: 300px;
    }
}
@media(max-width:775px){
    .God{
        width: 150px;
    }
    .Grand{
        width: 150px;
    }
    
}
@media(max-width:472px){
    .God{
        width: 60px;
    }
    .Grand{
        width: 60px;
    }
}
@media(max-width:330px){
    .Titulo-hero h2{
        font-size: 7px;
        margin: 0 0 5px 25px;
    }
    
.Subtitulo{
    width: 20px;
    font-size: 0.5px;
    padding: 3px;
}
.Subtitulo a{
    font-size: 3px;
}
}
@media(max-width:500px){
    .Buscador-input{
        width: 100px;
    }
}
