*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Encabezado{
    display: flex;
    background-color:#FFF;
    justify-content: space-between;
    overflow: hidden;
}
.img-icon{
    width: 60px;
}
.Buscador{
}
.Buscador-input{
    margin:10px 0 0 0;
    outline: #0d6efd;
    width: 150px;
    text-align: center;
    background-color: transparent;
    border: transparent;
}
.Buscador-input :hover{
    border: #000 1px solid;
}

.nav{
    display: flex;
    background-color:#fff;
    justify-content: center;
  
}
.nav a{
    color: #000;
}

.hero{
    background-image: url(../img/hero.webp);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    background-position:center;
    justify-content: center;
    height: 90vh;
    align-items: center;
    background-color:#fff;
   }

.Titulo-hero h2{
color: #000;
}
.Subtitulo{
font-size: 20px;
margin: 0 33px;
text-decoration: none;
color: #000;

}
.Texto-hero{
    text-align: center;
}
.Top-a{
text-decoration: none;   
color: #fff; 
font-size: 20px;
margin: 20px 0 0 50px;
font-weight: bolder;

}
.Top-2{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
}
.Top-2 a{
text-decoration: none;   
color: #000;; 
font-size: 30px;
margin: 20px 0 0 50px;
font-weight: bolder;

}
.Top-a:hover{
    color: #fff;
}
.Ver-mas-Section1{
   
    color: #FFF;
    text-decoration: none;
    background-color: #00f;
    padding: 10px;
    text-align: center;
    align-content: center;
    margin: 20px 43px 0 40px;
    width: 60x;
    height: 55x;

}
.Top{
    display: flex;
    background-color: #000;
    justify-content: space-between;
    flex-wrap:wrap;

}
.card{
    width: 450px;
    height: 450px;
    margin: 50px auto;
    border-radius: 5px;

}
.Texto-card{
    border-top: 1px solid #000;
    text-align: center;
    padding: 5px;
    font-size: 20px;

}
.card-game{
    background-color:#000;
    display: flex;
    flex-wrap: wrap;
}

.img-card{
    object-fit: cover;
    margin: auto;
    width: 200px;
    height: 200px;
}
.card a{
    color: #fff;
    background-color: #00f;
    padding: 1rem 0;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 20px auto;
    width: 200px;
    border-radius: 50px;

}
.Titulo{
    text-align: center;
}
.Tarjetas-cotenedor{
    background-color:#fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Tarjeta{
    margin: 10px 10px 0 0;
}
.Boton-tarjeta{
    margin: 20px auto 20px auto;
}
.img-tarjeta{
    object-fit: cover;
    width: 400px;
    height: 400px;
}
.Boton-tarjeta a{
    text-decoration: none;
    color: #FFF;
    background-color: #00f;
    padding: 10px 10px;
    border-radius: 5px;
}

img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
footer{
    background-color: #000;
    padding: 20px;
}
.img-footer{
    display: inline-block;
}
.icon{
    display: flex;
    justify-content: space-around;
}
.icon img{
    background-color: #fff;
    width: 35px;
    border-radius: 50px;
}
.Titulo-footer h2{
    text-align: center;
}
@media (max-width:700px){
        .card{
        width: 400px;
        height: 400px;
        margin: auto;
    }

}
@media (max-width:420x){
    .card{
        width: 400px;
        height: 400px;  
           margin: 20px 0 0 0;  }
         
}
@media (max-width:983px){
    .card{
        width: 400px;
        height: 400px;  
        margin: 50px auto;
           
    }

}
@media (max-width:1440px){

    .card{
        margin: 50px auto;
        width:450px;
        height: 450px;
        
    }
    
}
@media(max-width:290px){
    .Texto-card{
        font-size: 2px;
    }
    .card a{
        width: 100px;
    }
}
@media (max-width:1338px){
    .img-tarjeta{
        width: 300px;
        height: 300px;
}
}
@media(max-width:500px){
    .Buscador-input{
        width: 100px;
    }
}
@media (max-width:954px){
    .Tarjeta-3{
        margin: 10px auto auto auto;
    }
    .Top-2 a{
        margin: auto;
    }
    }
    
    @media (max-width:632px){
        .Tarjeta{
            margin:  10px auto auto auto;
        }
    }

     
        @media(max-width:1431px){
            .hero{
                background-size: cover;
                height: 70vh;
            }
        }
        
        @media(max-width:824px){
            .hero{
                height: 400px;
            }

        }
        @media(max-width:1074px){
            .hero{
                height: 50vh;
            }
        }
        @media(max-width:434px){
            .hero{
                height: 200px;
            }
        }
    